.navbar-container {
  background-color: var(--color-red-transparent);
  color: white;
  padding: 1.2rem 0;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  border-bottom: 3px solid var(--color-white-alpha-050);
  -webkit-box-shadow: 0 2px 6px 0 var(--color-box-shadow-dark); 
  -moz-box-shadow: 0 2px 6px 0 var(--color-box-shadow-dark); 
  box-shadow: 0 2px 6px  var(--color-box-shadow-dark);
}

.navbar-container ul {
  display: inline-block;
  padding-left: 0;
  list-style-type: none;
  margin: 0 auto;
}

.navbar-container ul li {
  display: block;
  font-weight: 400;
  padding-bottom: 0.1rem;
}

.navbar-container ul li a,
.navbar-container ul li a:link,
.navbar-container ul li a:visited{
  text-decoration: none;
  color: white;
}

.navbar-container ul li.active span {
  color: white;
  border-bottom: 3px solid white;
}

.navbar-container ul li span:hover,
.navbar-container ul li a:hover {
  border-bottom: 3px solid var(--color-white-alpha-050);
  color: var(--color-white-alpha-070);
  cursor: pointer;
  transition: all 150ms;
}

.navbar-modal {
  display: none;
}

/* disables hover styles on touch devices */
@media (hover: none) {
  .navbar-container ul li.active span {
    color: white;
    border-bottom: 3px solid white;
  }
}

@media (min-width: 600px) {
  .navbar-title-on-xs-screen {
    display: none;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-container ul li {
    display: inline;
    margin: 0 1rem;
  }
}

@media (min-width: 0px) and (max-width: 599px) {
  .navbar-container {
    height: 5rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .navbar-container ul {
    top: 0;
    bottom: 0;
    background-color: var(--color-red);
    position: fixed;
    width: 70%;
    right: -70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    border-left: 4px solid white;
    z-index: var(--z-index-level-1st);
    overflow-y: scroll;
  }

  .open-side-menu.navbar-container ul {
    right: 0;
  }

  .open-side-menu .navbar-modal {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--color-black-alpha-070);
    z-index: var(--z-index-level-2nd);
  }

  .navbar-container ul li {
    display: block;
    margin: 1rem 0;
  }

  .navbar-container ul li:first-child::before {
    display: block;
    content: 'Menu';
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid var(--color-white-alpha-010);
  }

  .navbar-title-on-xs-screen {
    color: white;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .navbar-title-on-xs-screen span {
    background-color: var(--color-black-alpha-015);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
  }

  .navbar-container ul li span:hover,
  .navbar-container ul li a:hover {
    border-bottom: none;
    color: white;
  }

  .navbar-container ul li.active span {
    color: white;
    border-bottom: 3px solid white;
  }

  .navbar-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: var(--color-black-alpha-020);
    border-radius: 50%;
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .navbar-container ul li {
    margin: 0 2rem;
  }
}