.error-container {
  font-weight: 100;
  color: white;
  padding: 1rem 1rem 1.25rem 1rem;
  background-color: var(--color-error);
  border-left: 10px solid var(--color-white-alpha-050);
  border-right: 10px solid var(--color-white-alpha-050);
}

.error-container a:link:hover {
  color: gray;
}

.error-container a,
.error-container a:link,
.error-container a:visited {
  color: white;
  font-weight: 700;
  text-decoration: underline;
}
